# Node
node_modules/
npm-debug.log

# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/

# Java
target/
*.class

# Playwright
playwright-report/
test-results/

# Reports
reports/

# Environment
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
